.sidebarFriendImg{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
   

  
    cursor: pointer;
    
    

}
.sidebarFriend{
    margin-right: 50px;
    align-items: center;
}